
<div class="flex items-center justify-center">
    <div class="pt-12 w-full " style="max-width:300px">

        <div class="w-full h-24 bg-gradient-to-b from-gray-500 to-gray-400">
            <div class="w-full py-5 px-6 text-6xl text-white ">0</div>
        </div>


        <div class="w-full bg-gradient-to-b from-indigo-400 to-indigo-500">
            <div class="flex w-full">
                <div class="w-1/4 border-r border-b border-orange-200">
                    <button class="w-full h-16 bg-orange-400 text-white text-xl font-light">C</button>
                </div>
                <div class="w-1/4 border-r border-b border-orange-200">
                    <button class="w-full h-16 bg-orange-400 text-white text-xl font-light">+/-</button>
                </div>
                <div class="w-1/4 border-r border-b border-orange-200">
                   <button class="w-full h-16 bg-orange-400 text-white text-xl font-light">%</button>
                </div>
                <div class="w-1/4 border-r border-b border-orange-200">
                    <button class="w-full h-16 bg-orange-400 text-white text-xl font-light">÷</button>
                </div>
            </div>
            <div class="flex w-full">
                <div class="w-1/4 border-r border-b border-orange-200">
                    <button class="w-full h-16 bg-orange-400 text-white text-xl font-light">7</button>
                </div>
                <div class="w-1/4 border-r border-b border-orange-200">
                    <button class="w-full h-16 bg-orange-400 text-white text-xl font-light">8</button>
                </div>
                <div class="w-1/4 border-r border-b border-orange-200">
                    <button class="w-full h-16 bg-orange-400 text-white text-xl font-light">9</button>
                </div>
                <div class="w-1/4 border-r border-b border-orange-200">
                    <button class="w-full h-16 bg-orange-400 text-white text-xl font-light">⨉</button>
                </div>
            </div>
            <div class="flex w-full">
                <div class="w-1/4 border-r border-b border-orange-200">
                    <button class="w-full h-16 bg-orange-400 text-white text-xl font-light">4</button>
                </div>
                <div class="w-1/4 border-r border-b border-orange-200">
                    <button class="w-full h-16 bg-orange-400 text-white text-xl font-light">5</button>
                </div>
                <div class="w-1/4 border-r border-b border-orange-200">
                    <button class="w-full h-16 bg-orange-400 text-white text-xl font-light">6</button>
                </div>
                <div class="w-1/4 border-r border-b border-orange-200">
                    <button class="w-full h-16 bg-orange-400 text-white text-xl font-light">-</button>
                </div>
            </div>
            <div class="flex w-full">
                <div class="w-1/4 border-r border-b border-orange-200">
                    <button class="w-full h-16 bg-orange-400 text-white text-xl font-light">1</button>
                </div>
                <div class="w-1/4 border-r border-b border-orange-200">
                    <button class="w-full h-16 bg-orange-400 text-white text-xl font-light">2</button>
                </div>
                <div class="w-1/4 border-r border-b border-orange-200">
                    <button class="w-full h-16 bg-orange-400 text-white text-xl font-light">3</button>
                </div>
                <div class="w-1/4 border-r border-b border-orange-200">
                    <button class="w-full h-16 bg-orange-400 text-white text-xl font-light">+</button>
                </div>
            </div>
            <div class="flex w-full">
                <div class="w-1/4 border-r border-orange-200">
                    <button class="w-full h-16 bg-orange-400 text-white text-xl font-light">0</button>
                </div>
                <div class="w-1/4 border-r border-orange-200">
                    <button class="w-full h-16 bg-orange-400 text-white text-xl font-light">.</button>
                </div>
                <div class="w-2/4 border-r border-orange-200">
                    <button class="w-full h-16 bg-orange-400 text-white text-xl font-light">=</button>
                </div>
            </div>
        </div>
    </div>
</div>
